{% extends "layout.html" %}

{% block bar %}
  <li class = "active"><a href="{{ url_for('all_exercises') }}">All Exercises</a></li>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}

  <h1>All Exercises</h1>
  {% for id in exercise_dict %}
    <div style="background: #ffffff">
      <table class="table table-striped">
        <tbody>
          <tr></tr>
          <tr bgcolor="#407040" onmouseover="ChangeBackgroundColor(this)" onmouseout="RestoreBackgroundColor(this)"
          		style="cursor: pointer;" onclick="window.document.location='{{url_for("exercise", id=id)}}';">
            <th>
              <h3 style="color:#e4e4e4">{{exercise_dict[id]["name"]}}<h3>
            </th>
            <th></th><th></th><th></th>
          </tr>
          <tr></tr>
          <tr bgcolor="#c9e0c9">
            <th>
              <h4>Number of Submissions: {{exercise_dict[id]["num_students"]}}</h4>
            </th>
            <th>
              <h4>
              Average Score: {{exercise_dict[id]["average_score"]}}/{{exercise_dict[id]["average_full"]}}</h4>
            </th>
            <th><h4>
              <script>
                var input = {{exercise_dict[id]["average_score"]*100/
                  exercise_dict[id]["average_full"]}};
              
                document.write(no_decimals(input));
              </script>% </h4>       
            </th>
            <th>
              <a href="{{url_for('codes', all="exercise", id=id)}}" class="btn btn-default" role="button">
                All Source Codes
              </a>
            </th>
          </tr>
          {% for s in exercise_dict[id]["solutions"] %}
            {% if exercise_dict[id]["solutions"][s]["report"] %}
              <tr>
                <th>{{ exercise_dict[id]["solutions"][s]["student_name"] }}</th>
                <th>
                  Score: {{ exercise_dict[id]["solutions"][s]["report"]["stats"]["score"] }}/{{
                      exercise_dict[id]["solutions"][s]["report"]["stats"]["full_score"] }}
                </th>
                <th>
                  <script>
                    var input = {{exercise_dict[id]["solutions"][s]["report"]["stats"]["score"]*100/
                      exercise_dict[id]["solutions"][s]["report"]["stats"]["full_score"]}};
                  
                    document.write(no_decimals(input));
                  </script>%        
                </th>
                <th>
                  <a href="{{url_for('codes', all="", id=s)}}" class="btn btn-default" role="button">
                    Source Code
                  </a>
                </th>
              </tr>
              {% for test_name in exercise_dict[id]["solutions"][s]["report"]["tests"].keys() %}
                <tr>
                  <td>
                    {{ test_name }}
                  </td>
                  <td>
                    score: {{ exercise_dict[id]["solutions"][s]["report"]["tests"][test_name]["score"] }}/{{
                      exercise_dict[id]["solutions"][s]["report"]["tests"][test_name]["full_score"]}}
                  </td>
                  <td>
                    
                    <script>
                      var input = {{exercise_dict[id]["solutions"][s]["report"]["tests"][test_name]["score"]*100/
                        exercise_dict[id]["solutions"][s]["report"]["tests"][test_name]["full_score"]}};
                    
                      document.write(no_decimals(input));
                    </script>%
                    
                  </td><td></td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th>{{ exercise_dict[id]["solutions"][s]["student_name"] }}</th>
                <th>No report found for this submission</th>
                <th></th>
                <th>
                  <a href="{{url_for('generate_report', id=s, return_url=url_for('all_exercises'))}}"
                                     class="btn btn-default" role="button">
                    Generate Report
                  </a>
                </th>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}


