{% extends "layout.html" %}

{% block bar %}
  <li class = "active"><a href="#">{{exercise_dict["name"]}}</a></li>
  <li><a href="{{ url_for('all_exercises') }}">All Exercises</a></li>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type='text/javascript'>
    google.load('visualization', '1');
         
        function draw_pie_chart() {
            var wrap = new google.visualization.ChartWrapper({
                chartType: 'PieChart',
                dataTable: [
                  ['Grade', 'Number of Students'],
          {% for i in range(exercise_dict["full_score"]+1) %}
            ['Score: {{i}}', {{exercise_dict["distribution"][i]}}],
          {% endfor %}],

              options: {is3D: false, pieSliceText: "label"},
                 containerId: 'pie_chart'
            });
            wrap.draw();
        }

        function draw_bar_graph() {
            var wrap = new google.visualization.ChartWrapper({
              chartType: 'BarChart',
              dataTable: 
                  [['Test', 'Avg Score (%)'],
                  {% for test in exercise_dict["tests"] %}
                      ['{{test}}', parseInt({{exercise_dict["tests"][test]["average_score"]*100/
              exercise_dict["tests"][test]["full_score"]}})],
                  {% endfor %}
                ],

                options: {
                bars: 'horizontal',
                bar: {groupWidth: "50%"},
                series: {
                  0: {axis: 'score'}, // Bind series 0 to an axis named 'score'.
            },
                  axes: {x: {score: {label: 'Percentage'}} }
              },
              containerId: 'bar_graph'
            });
            wrap.draw();
        }

        function drawVisualization() {
          draw_pie_chart();
            draw_bar_graph();
        }

        google.setOnLoadCallback(drawVisualization);
    </script>
  
  
  
  <h1>{{exercise_dict["name"]}}</h1>
  
  <div style="background: #ffffff">
    <table class="table">
      <tbody>
        <tr>
          <th>
            <h4>Number of Submissions: {{exercise_dict["num_attempts"]}}</h4>
          </th>
          <th>
            <h4>Average Score:
              <script>
                var input = {{exercise_dict["average_score"]}};
                  
                document.write(one_decimal(input));
              </script>/{{exercise_dict["full_score"]}}</h4>
          </th>
          <th>
            <h4>Percentage: 
            <script>
              var input = {{exercise_dict["average_score"]*100/
                exercise_dict["full_score"]}};
                
              document.write(no_decimals(input));
            </script>%</h4>
          </th>
          <th>
            <a style="color:#ffffff" href="{{url_for('codes', all="exercise", id=exercise_dict["id"])}}" 
            	class="btn btn-success" role="button">All Source Codes</a>
          </th>  
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <div style="width: 100%; background-color: #ffffff">
    <table  class="table table-striped">
      <thead>
        <tr bgcolor="#407040" style="color:#e4e4e4">
          <th>Test Name</th>
          <th>Description</th>
          <th>Average Score</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        {% for test in exercise_dict["tests"] %}
        <tr>
          <td>{{test}}</td>
          <td>{{exercise_dict["tests"][test]["description"]}}</td>
          <td>
            <script>
              var input = {{exercise_dict["tests"][test]["average_score"]}};
              
              document.write(one_decimal(input));
            </script>/{{
            exercise_dict["tests"][test]["full_score"]}}</td>
          <td>
            <script>
              var input = {{exercise_dict["tests"][test]["average_score"]}}*100/{{
                exercise_dict["tests"][test]["full_score"]}};
              
              document.write(no_decimals(input));
            </script>%
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  
  <div style="background: #ffffff">
    <table class="table table-striped">
      <thead>
        <tr bgcolor="#407040" style="color:#e4e4e4">
          <th>Submissions</th>
          <th></th><th></th><th></th>
        </tr>
      </thead>
      <tbody>  
        {% for s in exercise_dict["solutions"] %}
          {% if exercise_dict["solutions"][s]["report"] %}
            <tr>
              <th>{{ exercise_dict["solutions"][s]["student_name"] }}</td>
              <th>Score: {{exercise_dict["solutions"][s]["report"]["stats"]["score"]}}/{{
                  exercise_dict["solutions"][s]["report"]["stats"]["full_score"] }}
              </td>
              <th>
                Percentage:
                <script>
                  var input = {{exercise_dict["solutions"][s]["report"]["stats"]["score"]*100/
                    exercise_dict["solutions"][s]["report"]["stats"]["full_score"] }};
                  
                  document.write(no_decimals(input));
                </script>%
              </th>
              <th>
                <a href="{{url_for('codes', all="", id=s)}}" class="btn btn-default" role="button">Source Code</a>
              </th>
            </tr>
            {% for test_name in exercise_dict["solutions"][s]["report"]["tests"].keys() %}
              <tr>
                <td>
                  {{ test_name }}
                </td>
                <td>
                  score: {{ exercise_dict["solutions"][s]["report"]["tests"][test_name]["score"] }}/{{
                    exercise_dict["solutions"][s]["report"]["tests"][test_name]["full_score"]}}
                </td>
                <td>
                  percentage:
                  
                  <script>
                    var input={{exercise_dict["solutions"][s]["report"]["tests"][test_name]["score"]*100/
                      exercise_dict["solutions"][s]["report"]["tests"][test_name]["full_score"] }};
                    
                    document.write(no_decimals(input));
                  </script>%
                </td><td></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <th>{{ exercise_dict["solutions"][s]["student_name"] }}</th>
              <th>No report found for this submission</th>
              <th></th>
              <th>
                <a href="{{url_for('generate_report', id=s, 
                        return_url=url_for('exercise', id=exercise_dict["id"]))}}" 
                        class="btn btn-default" role="button">
                  Generate Report
                </a>
              </th>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  
  
  <div class="padded" style="background-color: #ffffff; width: 920px; height: 620px; border: 2px solid;">
    <h2 style="padding-left:5em">Number of Students per Score</h2>
    <div id="pie_chart" style="width: 900px; height: 500px;"></div>
    <h5 style="padding-left:12em;">
      Total number of students: {{exercise_dict["num_attempts"]}}
      &nbsp;&nbsp;&nbsp;&nbsp;
      Maximum Score: {{exercise_dict["full_score"]}}
    </h5>
  </div>
  <br>
  <div class="padded" style="background-color: #ffffff; width: 920px; height: 600px; border: 2px solid;">
    <h2 style="padding-left:4em">Average Scores per Test in Percentages</h2>
    <div id="bar_graph" style="width: 900px; height: 500px;"></div>
  </div>
  <br>
{% endblock %}