{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}

	<h1>Welcome to Aurum, {{session["username"]}}</h1>
	<div class="row">
		<div class="col-md-6">
			<h3><a href="{{url_for("all_exercises")}}">Exercises</a></h3>
			<div  style="background: #ffffff; cursor: pointer;">
				<table class="table table-hover">
					<tbody>
						<tr bgcolor="#407040" onmouseover="ChangeBackgroundColor(this)" onmouseout="RestoreBackgroundColor(this)"
							onclick="window.document.location='{{url_for("all_exercises")}}';">
							<th style="color:#e4e4e4">
								<h5>All Exercises</h5>
							</th>
							<th></th><th></th>
						</tr>
						{% for id in exercise_dict.keys() %}
							<tr onclick="window.document.location='{{url_for("exercise", id=id)}}';">
								<td>{{ exercise_dict[id]["name"] }}</td>
								<td>attempts: {{exercise_dict[id]["num_students"]}}</td>
								<td>
									average score: {{exercise_dict[id]["average_score"]}}/{{exercise_dict[id]["total_score"]}}
								</td>
							</tr>
						{% endfor %}
			  		</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<h3><a href="{{url_for("all_users")}}">Users</a></h3>
			<div  style="background: #ffffff; cursor: pointer;">
				<table class="table table-hover">
					<tbody>
						<tr bgcolor="#407040" onmouseover="ChangeBackgroundColor(this)" onmouseout="RestoreBackgroundColor(this)"
							onclick="window.document.location='{{url_for("all_users")}}';">
							<th style="color:#e4e4e4">
								<h5>All Users</h5>
							</th>
							<th></th><th></th>
						</tr>
						{% for name in user_dict.keys() %}
							<tr onclick="window.document.location='{{url_for("user", username=name)}}';">
								<td>{{ name }}</td>
								<td>exercises attempted: {{user_dict[name]["num_exercises"]}}</td>
								<td>
									total score: {{user_dict[name]["score"]}}/{{user_dict[name]["full"]}}
								</td>
							</tr>
						{% endfor %}
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}