<!doctype html>
<head>
	<title>Aurum</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class=page>
	<div class = "navbar navbar-inverse navbar-static-top">
		<div class = "container">
        	<a href = "{{ url_for('home') }}" class = "navbar-brand"><h3>Aurum</h3></a>                   
            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
                               
            <div class = "collapse navbar-collapse navHeaderCollapse">
            	<ul class = "nav navbar-nav navbar-right">
					{% block bar %}{% endblock %}
            	</ul>
        	</div>                    
    	</div>
    </div>
	<script>
    	function no_decimals(amount) {
			return Math.round(amount);
    	}
    	
    	function one_decimal(amount) {
			return Math.round(amount*10)/10;
    	}
	</script>
	
	<script type="text/javascript">
		var TableBackgroundNormalColor = "#407040";
		var TableBackgroundMouseoverColor = "#305030";
		
		function ChangeBackgroundColor(row) { row.style.backgroundColor = TableBackgroundMouseoverColor; }
		function RestoreBackgroundColor(row) { row.style.backgroundColor = TableBackgroundNormalColor; }
	</script>
	
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	<div class="container-fluid">
		{% block body %}{% endblock %}
	</div>
</div>
</body>

<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src = "static/bootstrap/js/bootstrap.js"></script>