{% extends "layout.html" %}

{% block bar %}
  <li class = "active"><a href="#">{{user_dict["name"]}}</a></li>
  <li><a href="{{ url_for('all_users') }}">All Users</a></li>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type='text/javascript'>
    google.load('visualization', '1');

        function draw_bar_graph() {
            var wrap = new google.visualization.ChartWrapper({
              chartType: 'BarChart',
              dataTable: 
                  [['Test', 'Score (%)'],
                  {% for id in user_dict["solutions"] %}
                    {% if user_dict["solutions"][id]["report"] %}
                      ['{{user_dict["solutions"][id]["exercise_name"]}}', 
                        parseInt({{user_dict["solutions"][id]["report"]["stats"]["score"]*100/
              				user_dict["solutions"][id]["report"]["stats"]["full_score"]}})],
              		{% endif %}
                  {% endfor %}
                ],

                options: {
                bars: 'horizontal',
                bar: {groupWidth: "50%"},
                series: {
                  0: {axis: 'score'}, // Bind series 0 to an axis named 'score'.
            },
                  axes: {x: {score: {label: 'Percentage'}} }
              },
              containerId: 'bar_graph'
            });
            wrap.draw();
        }

        function drawVisualization() {
            draw_bar_graph();
        }

        google.setOnLoadCallback(drawVisualization);
    </script>
  
  
  
  <h1>{{user_dict["name"]}}</h1>
  
  <div style="background: #ffffff">
    <table class="table">
      <tbody>
        <tr>
          <th>
            <h4>Number of Submissions: {{user_dict["num_exercises"]}}</h4>
          </th>
          <th>
            <h4>Total Score: {{user_dict["total_score"]}}/{{user_dict["total_full"]}}</h4>
          </th>
          <th>
            <h4>Percentage: 
            <script>
              var input = {{user_dict["total_score"]*100/user_dict["total_full"]}};
                
              document.write(no_decimals(input));
            </script>%</h4>
          </th>
          <th>
            <a style="color:#ffffff" href="{{url_for('codes', all='user', id=user_dict['name'])}}" 
            	class="btn btn-success" role="button">All Source Codes</a>
          </th>  
        </tr>
      </tbody>
    </table>
  </div>
  
  <div style="background: #ffffff">
    <table class="table table-striped">
      <thead>
        <tr bgcolor="#407040" style="color:#e4e4e4">
          <th>Submissions</th>
          <th></th><th></th><th></th>
        </tr>
      </thead>
      <tbody>
        </tr>
        {% for s in user_dict["solutions"] %}
          {% if user_dict["solutions"][s]["report"] %}
            <tr>
              <th>{{ user_dict["solutions"][s]["exercise_name"] }}</td>
              <th>
                Score: {{user_dict["solutions"][s]["report"]["stats"]["score"]}}/{{
                  user_dict["solutions"][s]["report"]["stats"]["full_score"]}}
              </th>
              
              <th>
                Percentage: 
                <script>
                  var input = {{user_dict["solutions"][s]["report"]["stats"]["score"]*100/
                  	user_dict["solutions"][s]["report"]["stats"]["full_score"]}};
                
                  document.write(no_decimals(input));
                </script>%
              </th>
              <th>
                <a href="{{url_for('codes', all="", id=s)}}" class="btn btn-default" role="button">Source Code</a>
              </th>
            </tr>
            {% for test_name in user_dict["solutions"][s]["report"]["tests"].keys() %}
              <tr>
                <td>
                  {{ test_name }}
                </td>
                <td>
                  score: {{user_dict["solutions"][s]["report"]["tests"][test_name]["score"]}}/{{
                  	user_dict["solutions"][s]["report"]["tests"][test_name]["full_score"]}}
                </td>
                
                <td>
                  Percentage: 
                  <script>
                    var input = {{user_dict["solutions"][s]["report"]["tests"][test_name]["score"]*100/
                    	user_dict["solutions"][s]["report"]["tests"][test_name]["full_score"]}};
                
                    document.write(no_decimals(input));
                  </script>%
                </td>
                <td></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <th>{{ user_dict["solutions"][s]["exercise_name"] }}</th>
              <th>No report found for this submission</th>
              <th></th>
              <th>
                <a href="{{url_for('generate_report', id=s, 
                        return_url=url_for('user', id=user_dict["name"]))}}" 
                        class="btn btn-default" role="button">  
                  Generate Report
                </a>
              </th>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  <div class="padded" style="background-color: #ffffff; width: 920px; height: 600px; border: 2px solid;">
    <h2 style="padding-left:4em">Scores per Exercise in Percentages</h2>
    <div id="bar_graph" style="width: 900px; height: 500px;"></div>
  </div>
  <br>
{% endblock %}